<div class="page">
  <h1 class="">here's the bands</h1>
  <ul>
  <% @bands.each do |band| %>
  <li class="anaglyph">
  <div class="table">
  <h2 class="anaglyph"><%=band.name%></h2>
  <p>visit the show page</p>
  <form action="<%=band_url(band)%>" method="GET">
    <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
    <input class="button" type="submit" value="visit band"></span>
  </form>
  <form action="<%=band_url(band)%>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
    <span class="td"><input type="hidden" name="band[name]" value="<%=band.name%>"></span>
    <label>Updated name:
      <span class="td"><input type="text" name="band[updated_name]" value=""></span>
    </label>  
    <span class="td"><input class="button" type="submit" value="update band"></span>
  </form>

  
    
  <form action="<%=band_url(band)%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
    <input class="button" type="submit" value="remove band"></span>
  </form></li>




  <% end %>
  <div class="table">
    <form action="<%=bands_url%>" method="POST">
      <span class="td"><input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>></span>
      <label>Band name:
      <span class="td"><input type="text" name="band[name]" value=""></span>
      </label>

      <span class="td"><input class="button" type="submit" value="add band"></span>
    </form>
  </div>