<h2>Add a New Goal</h2>

<form action=<%=user_goals_url(@user)%> method="POST">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
  <!-- form_authenticity_token is a rails helper method -->
  <!-- needed for non-GET requests  -->

  <label >Name
    <input type="text" name="goal[name]" value="">
  </label>

  <label >Details
    <input type="password" name="goal[details]" value="">
  </label>

  <label for="goal_status">Completed:</label>
  <input type="radio" id="goal_status" name="goal[status]" value="true">
  <br>
  <label for="goal_status">Incomplete:</label>
  <input type="radio" id="goal_status" name="goal[status]" value="false">
  <br>

  <input type="submit" value="Create Goal">

</form>

<ul>
  <% @user.goals.each do |goal| %>
  
    <li><%=  goal.name  %></li>
    <li><%=  goal.details  %></li>
    <% if goal.status == true %>
     <li>Done</li>
    <% end %>
    <form action="<%=goal_url(goal)%>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
        <input type="submit" value="Delete Goal">
    </form>
  <% end %>

</ul>